body {
	margin: 0;
  	padding: 0;

	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: 400;
	font-family: "PT Sans", "Arial", "Tahoma", sans-serif;
	text-transform: uppercase;
	
	background-color: #ffffff;
}

.visually-hidden { 
position: absolute; 
width: 1px; 
height: 1px; 
margin: -1px; 
border: 0; 
padding: 0; 
clip: rect(0 0 0 0); 
overflow: hidden; 
}

/* index */

.main-container {
	background-image: url("../img/header.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	
	background-color: #ffffff;

}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
} 

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}
 
.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.description {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}

.reasons {
	line-height: 26px;
	text-align: center;
}

.differences {
	background-color: #81b3d2;
}

.differences h2 {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
	text-align: center;
}

.differences p {
	color: #ffffff;
	text-align: center;
}

.features-list {
	list-style: none;
	text-align: center;
}

.features h2 {
	font-size: 21px;
	color: #000000;
	font-weight: bold;
}

.differences-list {
	list-style: none;
	text-align: center;
}

.differences-item h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
}

.suggestions {
	text-align: center;
}

.suggestions h2 {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	font-weight: bold;
}

.suggestions p {
	line-height: 24px;
}

.search {
	font-size: 21px;
	font-weight: 26px;
	color: #ffffff;

	background-color: #766357;
  	border: none;
}

.appointment .search:hover {
	background-color: #604e43;
}

.appointment .search:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.appointment {
	background-color: #ffffff;
}

.appointment-item {
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.appointment-item input {
	font: inherit;
	background-color: #f2f2f2;
}

.appointment-item input:hover {
	background-color: #ebebeb;
}

.appointment-item input:focus {
	background-color: #ffffff;
}

.appointment-item input::-moz-placeholder {
	color: #000000;
	opacity: 1;
}

.appointment-item input::-webkit-input-placeholder {
	color: #000000;
	opacity: 1;
}

.appointment-item input::-ms-placeholder {
	color: #000000;
	opacity: 1;
}

.appointment-item input::placeholder {
	color: #000000;
	opacity: 1;
}

.calendar {
	background-image: url("../img/calendar.svg");
	width: 25px;
	height: 25px;
}

.calendar:hover {
	background-image: url("../img/calendar-hover.svg");
}

.calendar:active {
	background-image: url("../img/calendar-active.svg");
}

.up {
	background-image: url("../img/plus.png");
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
}

.up:hover {
	background-image: url("../img/plus-hover.png");
}

.up:active {
	background-image: url("../img/plus-active.png");
}

.down {
	background-image: url("../img/minus.png");
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-position: center;
}

.down:hover {
	background-image: url("../img/minus-hover.png");
}

.down:active {
	background-image: url("../img/minus-active.png");
}

.button {
	font-size: 21px;
	font-weight: 26px;
	color: #ffffff;

	background-color: #81b3d2;
  	border: none;
}

.button:hover {
	background-color: #669ec0;
}

.button:active {
	color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}

.hashtag {
	font-size: 21px;
	font-weight: 26px;
	font-weight: bold;
	color: #000000;
}

.footer-social ul {
	list-style: none;
	text-align: center;
}

.social-button {
	background-color: #81b3d2;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active svg{
	fill-opacity: 0.3;
}

.footer-copyright {
	line-height: 26px;
	color: #000000;
}

.footer-copyright a {
	background-image: url("../img/logo-htmlacademy.svg");
	background-repeat: no-repeat;
	width: 189px;
	height: 37px;
	display: inline-block;
}

.footer-copyright a:hover {
	background-image: url("../img/logo-htmlacademy-hover.svg");
}

.footer-copyright a:active {
	background-image: url("../img/logo-htmlacademy-active.svg");
}

/* catalog */

.filter {
	background-image: url("../img/filter-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	height: 217px;
}

.site-navigation-current a {
	color: #766357;
}

.filter fieldset {
  	border: none;
}

.filter legend {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
}

.filter ul {
  	list-style: none;
}

.filter-option label {
	color: #ffffff;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.filter-option label:hover {
	background-image: url("../img/checkbox-off.svg");
}

.filter-option input:checked + label {
	background-image: url("../img/checkbox-on.svg");
}

.filter-option input:checked + label:hover {
	background-image: url("../img/checkbox-on.svg");
}

.filter-input:disabled + label {
	background-image: url("../img/checkbox-off-disabled.svg");	
}

.filter-input:checked:disabled + label {
	background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-price input {
	font: inherit;
	color: #ffffff;

  	background-color: transparent;
  	border: 2px solid #ffffff;
}

.filter-price input:hover {
	font: inherit;
	color: #000000;

  	background-color: #ffffff;
  	border: 2px solid #ffffff;
}

.filter button {
	font: inherit;
	color: #ffffff;

  	background-color: transparent;
  	border: 2px solid #ffffff;
}

.filter button:hover {
	color: #000000;
	background-color: #ffffff;
}

.found {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.main-found span {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.main-found li {
	list-style: none;
}

.sorting a {
	font-size: 12px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover,
.sorting a:focus {
	color: #81b3d2; 
}

.sorting a:active {
	color: #000000; 
	border-bottom: none;
}

.sorting-current a {
	color: #81b3d2;
	border-bottom: none;
}

.collating-item-up {
	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;
}

.collating-item-up:hover {
	background-image: url("../img/icon-up-dir-hover.svg");
}

.collating-item-up:active {
	background-image: url("../img/icon-up-dir-active.svg");
}

.collating-item-down {
	background-image: url("../img/icon-down-dir-active.svg");
	background-repeat: no-repeat;
}

.collating-item-down:hover {
	background-image: url("../img/icon-down-dir-hover.svg");
}

.collating-item-down:active {
	background-image: url("../img/icon-down-dir-active.svg");
}

.hotel h2 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}

.sorting-current{
	color: #000000;
}

.sorting-current:hover {
	color: #81b3d2;
}

.sorting-current:active {
	color: rgba(0, 0, 0, 0.3);
}

.detailet {
	font: inherit;
	color: #ffffff;
	font-weight: bold;

	background-color: #81b3d2;
}

.detailet:hover {
	background-color: #669ec0;
}

.detailet:active {
	color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}

.star {
	background-image: url("../img/star.svg");
	background-repeat: repeat-x;
}

.book {
	font: inherit;
	color: #ffffff;
	font-weight: bold;

	background-color: #766357;
}

.book:hover {
	background-color: #604e43;
}

.book:active {
	color: rgba(255,255,255,0.3);
	background-color: #503e33;
}

.rating {
	color: #666666;
	background-color: #f2f2f2;
}

/*сетки*/

/* index */

.wrapper { 
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.main-container { 
	background-position: 0 -70px;
}

.main-navigation {
	display: flex;
}

.main-header-logo {
	position: absolute;
	display: none;
}

.site-navigation {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding-left: 0;
}

.site-navigation li {
	width: 239px;
	text-align: center;
}

.site-navigation li:nth-child(2) {
	margin-right: 239px;
}

.description {
 	padding-top: 569px;
}

.differences {
 	display: flex;
}

.differences div {
 	width: 400px;
}

.features-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding-left: 0;
}

.features-list li {
 	width: 400px;
}

.differences-reverse div {
	order: 1;
}

.differences-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding-left: 0;
}

.differences-list li {
	width: 400px;
}

.appointment {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 0;
	padding: 0;
}

.main-footer {
	padding-left: 132px;
}

.main-footer .footer-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 0;
	padding: 0;
}

.hashtag {
	width: 135px;
  	margin: 0;
  	margin-right: 255px;
}

.footer-social {
	width: 150px;
}

.footer-copyright {
  	width: 200px;
  	margin: 0;
  	margin-left: auto;
}

/* catalog */

.filter {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 0;
	padding: 0;
	height: 217px;
}

.filter-item {
	width: 140px;
	height: 155px;
	padding-left: 73px; 
}

.filter-wrapper {
	width: 318px;
	height: 153px;
	padding-left: 345px;
}

.filter-price {
	width: 318px;
	height: 96px;
}

.filter-button {
	width: 137px;
	height: 36px;
}

.main-found {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.found {
	padding-left: 73px;
	padding-right: 50px;
}

.sorting {
	display: flex;
	flex-direction: row;
	padding-left: 50px;
}

.sorting li {
	padding-right: 33px;
}

.collating {
	display: flex;
	flex-direction: row;
	padding-left: 505px;
}

.hotel {
	display: flex;
	align-items: center;
}

.hotel-item {
	padding-left: 73px;
}

.hotel-wrapper {
	width: 258px;
	height: 90px;
	padding-left: 30px;
	margin-bottom: 32px;
}

.stars {
	padding-left: 520px;
}