body {
	margin: 0;
  	padding: 0;

	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: 400;
	font-family: "PTSans", "Arial", "Tahoma", sans-serif;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	
	background-color: #ffffff;

}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
} 

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #b2b2b2;
}

.site-navigation a:active {
	color: #766357;
}

.description {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}

.differences h2 {
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
	font-weight: bold;
}

.differences-item h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
}

.suggestions h2 {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	font-weight: bold;
}

.hotel h2 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}