body {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: normal;
	font-family: "PTSans", "Arial", "Tahoma", sans-serif;
}

.description {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: 'PTSans', "Arial", "Tahoma", sans-serif;
}

.differences h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
	font-family: 'PTSans', "Arial", "Tahoma", sans-serif;
}

.differences-item h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
	font-family: 'PTSans', "Arial", "Tahoma", sans-serif;
}

.future-item h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
	font-family: 'PTSans', "Arial", "Tahoma", sans-serif;
}

.suggestions h2 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: 'PTSans', "Arial", "Tahoma", sans-serif;
}

.hotel h2 {
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	font-weight: bold;
	font-family: 'PTSans', "Arial", "Tahoma", sans-serif;
}